<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-start h-100">
      <div class="col-md-12 col-xl-8">
        <div class="card h-100" style="border-radius: 15px;">
          <div class="card-body text-center">
            <h3 class="mb-4">CP Users</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="width: 15%;">Profile</th>
                  <th scope="col" style="width: 15%;">Full Name</th>
                  <th scope="col" class="text-center">Email</th>
                  <th scope="col" class="text-center">Role</th>
                  <th scope="col" class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                {{#each users}}
                  <tr class="align-middle"> 
                    <td><img src="{{this.profilePicture}}" class="img-thumbnail" style="width: 50%;"></td>
                    <td>{{first_name}} {{last_name}}</td>
                    <td class="text-center">{{email}}</td>
                    <td> 
                      <select id="roleSelect-{{this._id}}" class="form-select" {{#if (eq role "admin")}}disabled{{/if}} onchange="changeRole('{{this._id}}', this.value)">
                      {{#if (eq role "admin")}}
                        <option value="admin" selected>Admin</option>
                      {{else}}
                        <option value="admin">Admin</option>
                      {{/if}}
                      {{#if (eq role "premium")}}
                        <option value="premium" selected>Premium</option>
                      {{else}}
                        <option value="premium">Premium</option>
                      {{/if}}
                      {{#if (eq role "user")}}
                        <option value="user" selected>User</option>
                      {{else}}
                        <option value="user">User</option>
                      {{/if}}
                      </select>
                    </td>
                    <td class="text-center">
                      <button class="btn btn-danger" onclick="deleteUser('{{this._id}}')" {{#if (eq role "admin")}}disabled{{/if}}>X</button>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <div class="d-flex justify-content-end gap-2 m-5 p-2">
              <button class="btn btn-danger" onclick="deleteInactive()">Delete inactive</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  Handlebars.registerHelper('eq', function(a, b) { return a === b; });
</script>
<script src="/js/admin-users.js"></script>