<div class="container py-5 h-100">
  <div class="card my-3" style="width: 18rem;">
    <img
      class="card-img-top"
      src="{{product.thumbnails}}"
      alt="{{product.title}}"
      style="width: 300px;"
    />
    <div class="card-body text-center">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text"><strong>Description:</strong><br />
        {{product.description}}</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
          {{product.category}}
        </li>
        <li class="list-group-item list-group-item-action">
          <strong>Code:</strong>
          #{{product.code}}
        </li>
        <li class="list-group-item list-group-item-action">
          <strong>Price:</strong>
          ${{product.price}}
        </li>
        <li class="list-group-item list-group-item-action">
          {{product.stock}}
          unidades
        </li>
      </ul>
    </div>
    <a
      href="#"
      id="addButton"
      class="btn btn-success"
      onclick="addToCart('{{product._id}}', '{{cartId}}')"
    >Add to Cart</a>
  </div>
  <div>
    <a href="/products" class="btn btn-warning">Return</a>
  </div>

</div>
<script src="/js/product.js"></script>